<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 id="intro-header">Welcome Summoner!</h1>
    <p>Enroll now to see how you rank amongst all the colleges and universities in the country!</p>
    <form method="post" action="/enroll" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" name="summoner" placeholder="Summoner Name" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="email" placeholder="School Email *" class="form-control">
      </div>
      <div class="form-group">
        <input type="hidden" name="college_id" id="college_id">
        <input type="text" name="school" id="school" placeholder="School" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Enroll Now!</button>
    </form>
    <p><small>* Only .edu email addresses are allowed to enroll.</small></p>
    <div class="alert {{alertType}}">  
      <a class="close" data-dismiss="alert">×</a>
      {{alertMsg}} 
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    {{#colleges}}
      <div class="top-schools col-md-4">
        <h3>{{name}}</h3>
        <ol class="top-summoners">
          <li><img src="http://lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon1.jpg" class="profile-icon" /> Shockem</li>
          <li><img src="http://lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon1.jpg" class="profile-icon" /> ClayBot9000</li>
          <li><img src="http://lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon1.jpg" class="profile-icon" /> Scythesmith</li>
        </ol>
        <p><a class="btn btn-default" href="/schools/{{slug}}" role="button">View all &raquo;</a></p>
      </div>
    {{/colleges}}
  </div>
</div>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
  $(function(){
    $( "#school" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "{{baseUrl}}/ajax/schools",
          data: {
            maxRows: 5,
            name: request.term
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return {
                id: item.college_id,
                label: item.name,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        $('#college_id').val(ui.item.id);
      }
    });
  });
</script>
