<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 id="intro-header">Welcome Summoner!</h1>
    <p>Enroll now to see how you rank amongst all the colleges and universities in the country!</p>
    <form method="post" action="/enroll" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" name="summoner" placeholder="Summoner Name" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="email" placeholder="School Email *" class="form-control">
      </div>
      <div class="form-group">
        <input type="hidden" name="college_id" id="college_id">
        <input type="text" name="school" id="school" placeholder="School" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Enroll Now!</button>
    </form>
    <p class="text-muted"><small>* Only .edu email addresses are allowed to enroll.</small></p>
    <div class="alert {{alertType}}">  
      <a class="close" data-dismiss="alert">×</a>
      {{alertMsg}} 
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>#1 College of Saint Rose</h2>
      <ol>
        <li><a href="#">Shockem</a></li>
        <li><a href="#">MadGlory</a></li>
        <li><a href="#">ClayBot9000</a></li>
      </ol>
      <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>#2 Harvard University</h2>
      <ol>
        <li><a href="#">Scythesmith</a></li>
        <li><a href="#">KevanoWnek</a></li>
        <li><a href="#">Deastwoo</a></li>
      </ol>
      <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>#3 Skidmore University</h2>
      <ol>
        <li><a href="#">Shockem</a></li>
        <li><a href="#">MadGlory</a></li>
        <li><a href="#">ClayBot9000</a></li>
      </ol>
      <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
    </div>
  </div>
</div>
<script>
  $(function(){
    $( "#school" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "{{baseUrl}}/ajax/schools",
          data: {
            maxRows: 5,
            name: request.term
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return {
                id: item.college_id,
                label: item.name,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        $('#college_id').val(ui.item.id);
      }
    });
  });
</script>
