<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" id="home-text">
    <h1 id="intro-header">Welcome Summoner!</h1>
    <p>Enroll now to see how you rank amongst college players across the country!</p>
    <form method="post" action="/enroll" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" name="summoner" placeholder="Summoner Name" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="email" placeholder="School Email *" class="form-control">
      </div>
      <div class="form-group">
        <input type="hidden" name="college_id" id="college_id">
        <input type="hidden" name="college_slug" id="college_slug">
        <input type="text" name="school" id="school" placeholder="School" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Enroll Now!</button>
    </form>
    <p><small>* During beta only Summoners from NA with .edu email addresses are eligible to enroll.</small></p>
    <div class="alert {{alertType}}">
      {{#alertType}}
        <img src="/images/mundo.png" class="mundo-icon" title="CUZ MUNDO SAID SO"/>&nbsp;{{alertMsg}}
      {{/alertType}}
    </div>
  </div>
</div>

<div class="top-schools container">
  <!-- Example row of columns -->
  <div class="row">
    <h2>Top Schools</h2>
  </div>

  <div class="school-list row">
    {{#colleges}}
      <div class="col-sm-6 col-md-4">
        <a href="/schools/{{slug}}">
          <div class="thumbnail">
            <h4>{{name}}</h4>
            <h2>Score: {{college_score}}</h2>
          </div>
        </a>
      </div>
    {{/colleges}}
  </div>

  <div class="row">
    <h3>How does your school stack up against the rest of the country?</h3>
    <p><a href="/schools" class="btn btn-warning">All Schools</a></p>
  </div>
</div>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
  $(function(){
    $( "#school" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "{{baseUrl}}/ajax/schools",
          data: {
            maxRows: 5,
            name: request.term
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return {
                id: item.college_id,
                slug: item.slug,
                label: item.name,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        $('#college_id').val(ui.item.id);
        $('#college_slug').val(ui.item.slug);
      }
    });
  });
</script>
