<div class="container">
  <h2>Colleges and Universities by Rank</h2>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>College or University</td>
        <td># of Summoners</td>
      </tr>
    </thead>
    <tbody>
      {{#schools}}
      <tr>
        <td>{{name}}</td>
        <td>{{summoner_count}}</td>
        <td><a href="/school/{{college_id}}" class="btn btn-info">View All Summoners</a></td>
      </tr>
      {{/schools}}
    </tbody>
  </table>
</div>
