<div class="container">
  <h2>{{school.name}}</h2>

  <h3>
    Score: {{school.college_score}}<br />
    # of Players: {{school.summoner_count}}
  </h3>

  <div class="summoner-list row">

  {{#summoners}}
    <div class="col-md-3">
      <a href="http://www.lolking.net/summoner/na/{{summoner_id}}">
        <div class="thumbnail">
          <img src="/images/rank_{{rank}}.png" title="{{tier}} - {{level}}"/>
          {{#level}}<h2>{{level}}</h2>{{/level}}
          <div class="caption">
            <h4><img src="http://lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon{{profile_icon_id}}.jpg" class="profile-icon-large" /> {{name}}</h4>
          </div>
        </div>
      </a>
    </div>
  {{/summoners}}

  </div>
</div>
