<div class="container">
  <h2>Colleges and Universities with LoL Players</h2>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>College or University</td>
        <td>Score</td>
        <td># of Players</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {{#schools}}
      <tr>
        <td>{{name}}</td>
        <td>{{college_score}}</td>
        <td>{{summoner_count}}</td>
        <td><a href="/schools/{{slug}}" class="btn btn-info">View All Summoners</a></td>
      </tr>
      {{/schools}}
    </tbody>
  </table>
</div>
