<div class="container">
  <h2>Summoners from {{school.name}}</h2>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>League</td>
        <td>Summoner Name</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {{#summoners}}
      <tr>
        <td><img src="/images/rank_{{rank}}.png" class="profile-icon-large" title="{{tier}}"/></td>
        <td><img src="http://lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon{{profile_icon_id}}.jpg" class="profile-icon-large" /> {{name}}</td>
        <td style="text-align: center;"><a href="http://www.lolking.net/summoner/na/{{summoner_id}}" class="btn btn-info" target="_blank">View LoLKing Profile</a></td>
      </tr>
      {{/summoners}}
    </tbody>
  </table>
</div>
