body {
  padding-top: 48px;
}

.jumbotron {
  padding-top: 0;
  color: #fff;
  background: #eeeeee url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg) no-repeat 0 -100px;
  background-size: cover;
}

.form-inline .form-group {
  margin-right: 5px;
}

.alert {
  padding: 5px;
  margin-bottom: 0px;
}
