body {
  padding-top: 48px;
}

.jumbotron {
  padding-top: 0;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  background: #000 url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg) no-repeat 0 -100px;
  background-size: cover;
}

.form-inline .form-group {
  margin-right: 5px;
}

.alert {
  padding: 5px;
  margin-bottom: 0px;
}

#intro-header {
  margin-top: 80px;
}

#search-box {
  width: 200px;
}

#main-logo {
  width: 35%;
  margin-top: 5px;
}
